
#store{
    display: flex;
    height: 100%;
    width: 100%;
    padding-top: 30px;
}

.search-part {
    margin-left: 10%;
    width: 60%; 
    height: 100%; 
    display: flex;
    flex-direction: column;
}


.downList{
    margin-top: 20px;
    margin-left: 10px;
    width: 600px;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.demo-loadmore-list {
    min-height: 350px;
  }

.gameList{
    margin-top: 15px;
    margin-left: 15px;
    overflow-y: scroll;
}

.gameList::-webkit-scrollbar{
    width: 8px;
    border-radius: 40px;
    background-color: white;

}
.gameList::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.2);
    border-radius: 40px;
}

.Suggested{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-left: 30px;
    align-items: stretch;
}
.line1{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}
.line2{
    margin-top: 10px;
    font-size: 10px;
    font-weight: 300;
}
.ant-pagination{
    padding-bottom: 2px;
}
